<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Pagina Inicial', root_path %></li>
</ul>


<h2>Videira News</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Público</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.nome %></td>
        <td><%= video.publico %></td>
        <td><%= link_to 'Visualizar', video.arquivo_url, disposition: 'inline', target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>