<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Sistema de projeção de letras, palavras e vídeos.</h2>
        </div>
    </div>
</aside>
