<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Letras, Palavras e Vídeos</h1>
            <hr>
            <p>Porque Deus amou o mundo de tal maneira que deu o seu Filho unigênito, para que todo aquele que nele crê não pereça, mas tenha a vida eterna.
João 3:16</p>
        </div>
    </div>
</header>
